.u-section-1 {
    min-height: 1044px;
}

    .u-section-1 .u-text-1 {
        font-size: 3rem;
        margin: 80px calc(((100% - 1140px) / 2) + 348px) 0 calc(((100% - 1140px) / 2) + 360px);
    }

    .u-section-1 .u-group-1 {
        min-height: 828px;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .u-section-1 .u-container-layout-1 {
        padding: 30px 80px;
    }

    .u-section-1 .u-tabs-1 {
        min-height: 692px;
        width: 1142px;
        margin: 65px -9px 0 auto;
    }

    .u-section-1 .u-tab-item-1 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-section-1 .u-tab-link-1 {
        font-size: 1.25rem;
        background-image: none;
        font-weight: 600;
        padding: 10px 25px;
    }

    .u-section-1 .u-tab-item-2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-section-1 .u-tab-link-2 {
        font-size: 1.25rem;
        background-image: none;
        font-weight: 600;
        padding: 10px 25px;
    }

    .u-section-1 .u-tab-item-3 {
        margin-bottom: 0;
    }

    .u-section-1 .u-tab-link-3 {
        font-size: 1.25rem;
        background-image: none;
        font-weight: 600;
        padding: 10px 25px;
    }

    .u-section-1 .u-tab-item-4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-section-1 .u-tab-link-4 {
        font-size: 1.25rem;
        background-image: none;
        font-weight: 600;
        padding: 10px 25px;
    }

    .u-section-1 .u-tab-pane-1 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-section-1 .u-container-layout-2 {
        padding: 30px;
    }

    .u-section-1 .u-line-1 {
        width: 924px;
        height: 3px;
        transform-origin: left center 0px;
        margin: 52px 95px 0 auto;
    }

    .u-section-1 .u-text-2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: -38px 327px 0 63px;
    }

    .u-section-1 .u-text-3 {
        font-size: 1.125rem;
        margin: 0 167px 0 63px;
    }

    .u-section-1 .u-btn-1 {
        font-size: 1rem;
        border-style: solid;
        font-weight: 700;
        text-transform: uppercase;
        background-image: none;
        margin: 12px 95px 0 auto;
        padding: 3px 7px 4px 5px;
    }

    .u-section-1 .u-form-1 {
        height: 67px;
        margin: 45px 449px 0 63px;
    }

    .u-section-1 .u-input-1 {
        background-image: none;
    }

    .u-section-1 .u-input-2 {
        background-image: none;
    }

    .u-section-1 .u-form-group-3 {
        margin-left: 0;
    }

    .u-section-1 .u-input-3 {
        background-image: none;
    }

    .u-section-1 .u-btn-2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-table-1 {
        width: 924px;
        margin: 9px auto 0 63px;
    }

    .u-section-1 .u-table-header-1 {
        font-weight: 700;
        background-image: none;
    }

    .u-section-1 .u-table-body-1 {
        background-image: none;
    }

    .u-section-1 .u-table-cell-6 {
        background-image: none;
    }

    .u-section-1 .u-table-cell-7 {
        background-image: none;
    }

    .u-section-1 .u-table-cell-8 {
        background-image: none;
    }

.u-block-0a8e-89 {
    background-image: none;
}

.u-section-1 .u-btn-3 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    background-image: none;
    margin: 37px auto 0 216px;
    padding: 8px 33px;
}

.u-section-1 .u-btn-4 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    background-image: none;
    margin: -40px auto 0 63px;
    padding: 8px 33px;
}

.u-section-1 .u-tab-pane-2 {
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px;
}

.u-section-1 .u-text-4 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 25px 846px 0 62px;
}

.u-section-1 .u-line-2 {
    width: 882px;
    height: 3px;
    transform-origin: left center 0px;
    margin: 0 auto 0 62px;
}

.u-section-1 .u-text-5 {
    font-size: 1.125rem;
    margin: 9px 247px 0 63px;
}

.u-section-1 .u-form-2 {
    height: 67px;
    margin: 0 443px 0 69px;
}

.u-section-1 .u-input-4 {
    background-image: none;
}

.u-section-1 .u-input-5 {
    background-image: none;
}

.u-section-1 .u-btn-6 {
    font-size: 1.125rem;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    margin: -53px 140px 0 auto;
    padding: 3px 7px 4px 5px;
}

.u-section-1 .u-table-2 {
    width: 882px;
    margin: 26px auto 0 62px;
}

.u-section-1 .u-table-header-2 {
    font-weight: 700;
    background-image: none;
}

.u-section-1 .u-table-body-2 {
    background-image: none;
}

.u-section-1 .u-table-cell-24 {
    background-image: none;
}

.u-block-0a8e-123 {
    background-image: none;
}

.u-section-1 .u-btn-7 {
    border-style: none;
    font-weight: 700;
    font-size: 1rem;
    background-image: none;
    margin: 24px auto 0 221px;
    padding: 8px 33px;
}

.u-section-1 .u-btn-8 {
    border-style: none;
    font-weight: 700;
    font-size: 1rem;
    background-image: none;
    margin: -41px auto 0 62px;
    padding: 8px 33px;
}

.u-section-1 .u-tab-pane-3 {
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
    padding: 30px;
}

.u-section-1 .u-line-3 {
    width: 866px;
    height: 3px;
    margin: 52px auto 0 69px;
}

.u-section-1 .u-text-6 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: -35px 799px 0 69px;
}

.u-section-1 .u-text-7 {
    font-size: 1.125rem;
    margin: 20px 242px 0 70px;
}

.u-section-1 .u-form-3 {
    height: 139px;
    margin: 43px 295px 0 217px;
}

.u-section-1 .u-input-6 {
    background-image: none;
}

.u-section-1 .u-tab-pane-4 {
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
    padding: 30px;
}

.u-section-1 .u-line-4 {
    width: 924px;
    height: 3px;
    transform-origin: left center 0px;
    margin: 52px auto 0 63px;
}

.u-section-1 .u-text-8 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: -38px 327px 0 63px;
}

.u-section-1 .u-text-9 {
    font-size: 1.125rem;
    margin: 0 167px 0 63px;
}

.u-section-1 .u-form-4 {
    height: 57px;
    margin: 9px 449px 0 63px;
}

.u-section-1 .u-input-7 {
    background-image: none;
}

.u-section-1 .u-input-8 {
    background-image: none;
}

.u-section-1 .u-form-group-12 {
    margin-left: 0;
}

.u-section-1 .u-input-9 {
    background-image: none;
}

.u-section-1 .u-btn-10 {
    padding-left: 20px;
    padding-right: 20px;
}

.u-section-1 .u-table-3 {
    width: 924px;
    margin: 14px auto 0 63px;
}

.u-section-1 .u-table-header-3 {
    font-weight: 700;
    background-image: none;
}

.u-section-1 .u-table-body-3 {
    background-image: none;
}

.u-section-1 .u-table-cell-36 {
    background-image: none;
}

.u-section-1 .u-table-cell-37 {
    background-image: none;
}

.u-section-1 .u-table-cell-38 {
    background-image: none;
}

.u-block-0a8e-218 {
    background-image: none;
}

.u-section-1 .u-btn-11 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    background-image: none;
    margin: 23px auto 0 216px;
    padding: 8px 33px;
}

.u-section-1 .u-btn-12 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    background-image: none;
    margin: -40px auto 0 63px;
    padding: 8px 33px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
        width: 420px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-1 .u-tabs-1 {
        min-height: 633px;
        height: auto;
        width: 940px;
        margin-top: 34px;
        margin-left: -30px;
        margin-right: -30px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-top: 40px;
    }

    .u-section-1 .u-line-1 {
        width: 733px;
        margin-top: 15px;
        margin-right: auto;
        margin-left: 53px;
    }

    .u-section-1 .u-text-2 {
        width: auto;
        margin-top: -39px;
        margin-right: 587px;
        margin-left: 57px;
    }

    .u-section-1 .u-text-3 {
        width: auto;
        margin-top: 5px;
        margin-right: 94px;
        margin-left: 53px;
    }

    .u-section-1 .u-btn-1 {
        margin-top: 17px;
        margin-right: 94px;
    }

    .u-section-1 .u-form-1 {
        margin-right: 289px;
        margin-left: 53px;
    }

    .u-section-1 .u-table-1 {
        width: 720px;
        margin-top: 6px;
        margin-left: 57px;
    }

    .u-section-1 .u-btn-3 {
        margin-top: 8px;
        margin-left: 240px;
    }

    .u-section-1 .u-btn-4 {
        margin-left: 57px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-bottom: 15px;
    }

    .u-section-1 .u-text-4 {
        width: auto;
        margin-top: 0;
        margin-right: 546px;
        margin-left: 41px;
    }

    .u-section-1 .u-line-2 {
        width: 725px;
        margin-top: -3px;
        margin-left: 41px;
    }

    .u-section-1 .u-text-5 {
        width: auto;
        margin-top: 5px;
        margin-right: 111px;
        margin-left: 38px;
    }

    .u-section-1 .u-form-2 {
        margin-right: 336px;
        margin-left: 68px;
    }

    .u-section-1 .u-btn-6 {
        margin-right: 160px;
    }

    .u-section-1 .u-table-2 {
        width: 685px;
        margin-top: 21px;
        margin-left: 35px;
    }

    .u-section-1 .u-btn-7 {
        margin-top: 9px;
        margin-right: 546px;
        margin-left: auto;
    }

    .u-section-1 .u-btn-8 {
        margin-left: 41px;
    }

    .u-section-1 .u-line-3 {
        width: 720px;
        margin-left: 0;
    }

    .u-section-1 .u-text-6 {
        margin-right: 506px;
        margin-left: 0;
    }

    .u-section-1 .u-text-7 {
        width: auto;
        margin-right: 179px;
        margin-left: 0;
    }

    .u-section-1 .u-form-3 {
        margin-right: 525px;
        margin-left: 0;
    }

    .u-section-1 .u-container-layout-5 {
        padding-top: 40px;
    }

    .u-section-1 .u-line-4 {
        width: 733px;
        margin-top: 15px;
        margin-left: 53px;
    }

    .u-section-1 .u-text-8 {
        width: auto;
        margin-top: -39px;
        margin-right: 587px;
        margin-left: 57px;
    }

    .u-section-1 .u-text-9 {
        width: auto;
        margin-top: 5px;
        margin-right: 94px;
        margin-left: 53px;
    }

    .u-section-1 .u-form-4 {
        margin-top: 5px;
        margin-right: 289px;
        margin-left: 53px;
    }

    .u-section-1 .u-table-3 {
        width: 720px;
        margin-top: 6px;
        margin-left: 67px;
    }

    .u-section-1 .u-btn-11 {
        margin-top: 8px;
        margin-left: 240px;
    }

    .u-section-1 .u-btn-12 {
        margin-left: 67px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-text-1 {
        margin-right: calc(((100% - 720px) / 2) + 138px);
        margin-left: calc(((100% - 720px) / 2) + 150px);
    }

    .u-section-1 .u-group-1 {
        margin-top: 26px;
        margin-bottom: 54px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-tabs-1 {
        min-height: 723px;
        width: 660px;
        margin-top: 65px;
        margin-right: auto;
        margin-left: 29px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-top: 30px;
    }

    .u-section-1 .u-line-1 {
        margin-top: 50px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-text-2 {
        margin-top: -53px;
        margin-right: 364px;
        margin-left: 0;
    }

    .u-section-1 .u-text-3 {
        margin-top: 19px;
        margin-right: -5px;
        margin-left: 5px;
    }

    .u-section-1 .u-btn-1 {
        margin-top: 4px;
        margin-right: auto;
        padding: 0 226px 0 225px;
    }

    .u-section-1 .u-form-1 {
        margin-top: 9px;
        margin-right: 26px;
        margin-left: 5px;
    }

    .u-section-1 .u-btn-2 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .u-section-1 .u-table-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-btn-3 {
        margin-top: 7px;
        margin-left: 145px;
    }

    .u-section-1 .u-btn-4 {
        margin-left: 0;
    }

    .u-section-1 .u-text-4 {
        margin-top: 40px;
        margin-right: 428px;
        margin-left: 3px;
    }

    .u-section-1 .u-line-2 {
        width: 600px;
        margin-top: 0;
        margin-right: -3px;
        margin-left: 3px;
    }

    .u-section-1 .u-text-5 {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-1 .u-form-2 {
        margin-top: 12px;
        margin-right: 206px;
        margin-left: 0;
    }

    .u-section-1 .u-btn-6 {
        margin-top: -55px;
        margin-right: 0;
        padding: 5px 8px 7px;
    }

    .u-section-1 .u-table-2 {
        margin-top: 22px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-btn-7 {
        margin-top: 21px;
        margin-right: auto;
        margin-left: 175px;
    }

    .u-section-1 .u-btn-8 {
        margin-left: 0;
    }

    .u-section-1 .u-line-3 {
        width: 600px;
    }

    .u-section-1 .u-text-6 {
        margin-right: 386px;
    }

    .u-section-1 .u-text-7 {
        margin-right: 20px;
    }

    .u-section-1 .u-form-3 {
        margin-right: 222px;
    }

    .u-section-1 .u-container-layout-5 {
        padding-top: 30px;
    }

    .u-section-1 .u-line-4 {
        margin-top: 50px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-text-8 {
        margin-top: -53px;
        margin-right: 364px;
        margin-left: 0;
    }

    .u-section-1 .u-text-9 {
        margin-top: 19px;
        margin-right: -5px;
        margin-left: 5px;
    }

    .u-section-1 .u-form-4 {
        margin-top: 15px;
        margin-right: 31px;
        margin-left: 0;
    }

    .u-section-1 .u-btn-10 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .u-section-1 .u-table-3 {
        margin-top: 21px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-btn-11 {
        margin-top: 26px;
        margin-left: 145px;
    }

    .u-section-1 .u-btn-12 {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .u-section-1 {
        min-height: 1269px;
    }

        .u-section-1 .u-text-1 {
            margin-right: calc(((100% - 540px) / 2) + 48px);
            margin-left: calc(((100% - 540px) / 2) + 60px);
        }

        .u-section-1 .u-group-1 {
            margin-bottom: 49px;
        }

        .u-section-1 .u-container-layout-1 {
            padding-left: 10px;
            padding-right: 10px;
        }

        .u-section-1 .u-tabs-1 {
            min-height: 947px;
            width: 520px;
            margin-top: 6px;
            margin-left: 42px;
        }

        .u-section-1 .u-container-layout-2 {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 15px;
        }

        .u-section-1 .u-line-1 {
            margin-top: 53px;
            width: auto;
            margin-right: initial;
            margin-left: initial;
        }

        .u-section-1 .u-text-2 {
            margin-top: -41px;
            margin-right: 264px;
        }

        .u-section-1 .u-text-3 {
            margin-top: 0;
            margin-right: 4px;
            margin-left: -4px;
        }

        .u-section-1 .u-btn-1 {
            margin-top: 0;
            margin-left: 6px;
            padding-right: 185px;
            padding-left: 183px;
        }

        .u-section-1 .u-form-1 {
            height: 246px;
            margin-top: -4px;
            margin-right: -6px;
            margin-left: 6px;
        }

        .u-section-1 .u-table-1 {
            width: 500px;
            margin-top: 3px;
            margin-right: -3px;
            margin-left: 3px;
        }

        .u-section-1 .u-btn-3 {
            margin-top: 12px;
            margin-left: 164px;
        }

        .u-section-1 .u-container-layout-3 {
            padding-left: 10px;
            padding-right: 10px;
        }

        .u-section-1 .u-text-4 {
            margin-top: -7px;
            margin-right: 321px;
            margin-left: 10px;
        }

        .u-section-1 .u-line-2 {
            transform-origin: right center 0px;
            width: 490px;
            margin-right: auto;
            margin-left: 0;
        }

        .u-section-1 .u-text-5 {
            margin-top: 7px;
            margin-right: 10px;
        }

        .u-section-1 .u-form-2 {
            height: 193px;
            width: 500px;
            margin-top: 30px;
            margin-right: 0;
        }

        .u-section-1 .u-btn-6 {
            margin-top: -229px;
            margin-right: auto;
            padding: 0 181px 0 179px;
        }

        .u-section-1 .u-table-2 {
            margin-top: 201px;
            width: auto;
            margin-right: initial;
            margin-left: initial;
        }

        .u-section-1 .u-btn-7 {
            margin-top: 10px;
            margin-right: 165px;
            margin-left: auto;
        }

        .u-section-1 .u-btn-8 {
            margin-bottom: -3px;
            margin-left: 7px;
        }

        .u-section-1 .u-container-layout-4 {
            padding-left: 10px;
            padding-right: 10px;
        }

        .u-section-1 .u-line-3 {
            margin-top: 38px;
            margin-right: initial;
            margin-left: initial;
            width: auto;
        }

        .u-section-1 .u-text-6 {
            width: auto;
            margin-top: -41px;
            margin-right: 286px;
        }

        .u-section-1 .u-text-7 {
            margin-top: 25px;
            margin-right: 0;
        }

        .u-section-1 .u-form-3 {
            margin-top: 15px;
            margin-right: 200px;
        }

        .u-section-1 .u-container-layout-5 {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 15px;
        }

        .u-section-1 .u-line-4 {
            margin-top: 53px;
            width: auto;
            margin-right: initial;
            margin-left: initial;
        }

        .u-section-1 .u-text-8 {
            margin-top: -41px;
            margin-right: 264px;
        }

        .u-section-1 .u-text-9 {
            margin-top: 0;
            margin-right: 4px;
            margin-left: -4px;
        }

        .u-section-1 .u-form-4 {
            height: 246px;
            width: 500px;
            margin-right: 0;
        }

        .u-section-1 .u-table-3 {
            margin-top: 16px;
            width: auto;
            margin-right: initial;
            margin-left: initial;
        }

        .u-section-1 .u-btn-11 {
            margin-top: 12px;
            margin-left: 164px;
        }
}

@media (max-width: 575px) {
    .u-section-1 {
        min-height: 1355px;
    }

        .u-section-1 .u-text-1 {
            width: auto;
            margin-left: calc(((100% - 340px) / 2));
            margin-right: calc(((100% - 340px) / 2));
        }

        .u-section-1 .u-group-1 {
            margin-top: 31px;
            margin-bottom: 60px;
            min-height: 977px;
            height:1080px;
        }

        .u-section-1 .u-container-layout-1 {
            padding-bottom: 21px;
        }

        .u-section-1 .u-tabs-1 {
            min-height: 934px;
            margin-top: 16px;
            margin-bottom: -24px;
            margin-right: initial;
            margin-left: initial;
            width: auto;
        }

        .u-section-1 .u-line-1 {
            width: 365px;
            margin-top: 43px;
            margin-right: 35px;
            margin-left: auto;
        }

        .u-section-1 .u-text-2 {
            margin-right: 1px;
            width:200px;
        }

        .u-section-1 .u-text-3 {
            font-size: 1.4rem;
            margin-top: 8px;
            margin-right: 35px;
            margin-left: 8px;
        }

        .u-section-1 .u-btn-1 {
            font-size: 0.875rem;
            border-style: none;
            margin-top: -145px;
            margin-left: 225px;
            padding-left: 0;
            padding-right: 0;
        }

        .u-section-1 .u-form-1 {
            margin-top: 35px;
            margin-right: 64px;
            margin-left: 36px;
        }

        .u-section-1 .u-table-1 {
            width: 270px;
            margin-top: 10px;
            margin-right: auto;
            margin-left: 21px;
            margin-bottom: 15px;
        }

        .u-section-1 .u-btn-3 {
            margin-top: 12px;
            margin-right: 70px;
            margin-left: 155px;
        }

        .u-section-1 .u-btn-4 {
            margin-left: 17px;
        }

        .u-section-1 .u-container-layout-3 {
            padding-bottom: 0;
        }

        .u-section-1 .u-text-4 {
            margin-top: 6px;
            margin-right: 116px;
            margin-left: 16px;
        }

        .u-section-1 .u-line-2 {
            transform-origin: left center 0px;
            width: 329px;
            margin-right: 55px;
        }

        .u-section-1 .u-text-5 {
            font-size:1.4rem;
            margin-top: 11px;
            margin-right: 59px;
            margin-left: 20px;
        }

        .u-section-1 .u-form-2 {
            margin-top: 20px;
            margin-right: 69px;
            margin-left: 31px;
            width: 300px;
        }

        .u-section-1 .u-btn-6 {
            font-size: 0.875rem;
            border-style: none;
            margin-top: -340px;
            margin-right: 69px;
            margin-left: 50px;
            padding-right: 0;
        }

        .u-section-1 .u-table-2 {
            width: 320px;
            margin-top: 30px;
            margin-bottom: 20px;
            margin-right: auto;
            margin-left: 12px;
        }

        .u-section-1 .u-btn-7 {
            margin-top: 20px;
            margin-right: 50%;
        }

        .u-section-1 .u-btn-8 {
            margin-left: 20px;
        }

        .u-section-1 .u-text-6 {
            margin-right: 86px;
        }

        .u-section-1 .u-text-7 {
            margin-top: 12px;
            margin-right: 86px;
            margin-left: 14px;
            font-size:1.4rem;
        }

        .u-section-1 .u-form-3 {
            margin-top: 51px;
            margin-right: 100px;
        }

        .u-section-1 .u-line-4 {
            width: 365px;
            margin-top: 43px;
            margin-right: 35px;
            margin-left: 0;
        }

        .u-section-1 .u-text-8 {
            margin-right: 1px;
        }

        .u-section-1 .u-text-9 {
            font-size: 1.1rem;
            margin-top: 8px;
            margin-right: 35px;
            margin-left: 8px;
        }

        .u-section-1 .u-form-4 {
            margin-top: 8px;
            margin-right: 43px;
            margin-left: 16px;
            width: 300px;
        }

        .u-section-1 .u-table-3 {
            width: 320px;
            margin-top: 15px;
            margin-right: auto;
            margin-left: 0;
            margin-bottom: 15px;
        }

        .u-section-1 .u-btn-11 {
            margin-top: 10px;
            margin-right: 74px;
        }

        .u-tabs .u-tab-item{
            width:50%;
        }

    .u-section-1 .u-btn-12 {
        margin-left: 32px;
        margin-top: -38px;
    }
}
