@page
@model ForgotPasswordConfirmation
@{ ViewData["Title"] = "Forgot password confirmation"; }

<link rel="stylesheet" href="~/css/registerconfirmation.css" />
<section class="u-align-center u-clearfix u-section-1" id="carousel_ed3a">
    <div class="u-container-style u-expanded-width u-group u-palette-3-base u-shape-rectangle u-group-1">
        <div class="u-container-layout u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xl u-container-layout-1">
            <h2 class="u-text u-text-1">Verifique o e-mail para repor a password.</h2>
        </div>
    </div>
    <div alt="" class="u-image u-image-circle u-image-1" data-image-width="1280" data-image-height="1280"></div>
</section>

