.u-section-1 {
    background-image: url(imagens/pexels-photo-5990678.jpeg);
    background-position: 50% 50%;
}

    .u-section-1 .u-sheet-1 {
        min-height: 715px;
    }

    .u-section-1 .u-text-1 {
        margin: 39px 174px 0 332px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 1017px;
        margin: 32px auto 50px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 542px;
    }

    .u-section-1 .u-container-layout-1 {
        padding: 30px 15px 19px 30px;
    }

    .u-section-1 .u-image-1 {
        width: 409px;
        height: 379px;
        margin: 32px auto 0 -30px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 542px;
        background-image: none;
    }

    .u-section-1 .u-container-layout-2 {
        padding: 18px 30px;
    }

    .u-section-1 .u-icon-1 {
        height: 30px;
        width: 30px;
        margin: 27px auto 0 4px;
    }

    .u-section-1 .u-text-2 {
        font-size: 1.25rem;
        margin: -30px 59px 0 34px;
    }

    .u-section-1 .u-form-1 {
        height: 167px;
        width: 533px;
        margin: 59px auto 0;
    }

    .u-section-1 .u-label-1 {
        font-weight: 700;
    }

    .u-section-1 .u-btn-1 {
        background-image: none;
        border-style: solid;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 549px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 74px;
        margin-left: 232px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 940px;
        margin-bottom: 80px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 501px;
        background-position: 50% 50%;
    }

    .u-section-1 .u-image-1 {
        width: 343px;
        height: 323px;
        margin-right: 4px;
        margin-left: auto;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 501px;
    }

    .u-section-1 .u-icon-1 {
        margin-left: 16px;
    }

    .u-section-1 .u-text-2 {
        width: auto;
        margin-right: 129px;
        margin-left: 50px;
    }

    .u-section-1 .u-form-1 {
        margin-right: 27px;
        margin-left: 0;
        width: 488px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 432px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 0;
        margin-left: 86px;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 384px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-top: 0;
        padding-left: 15px;
    }

    .u-section-1 .u-image-1 {
        height: 298px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 384px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 30px;
        margin-left: 54px;
    }

    .u-section-1 .u-form-1 {
        margin-right: 0;
        width: 384px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 828px;
    }

    .u-section-1 .u-text-1 {
        margin-left: 0;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 691px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-text-2 {
        margin-right: -53px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 572px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 363px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 321px;
        width: 90%
    }
    .u-section-1 .u-text-2 {
        margin-right: 16px;
        margin-left: 47px;
    }

    .u-section-1 .u-form-1 {
        width: 320px;
    }
}

@media (max-width: 400px) {
    .u-layout-row{
        max-width:94%;
    }

}