@page
@model AsMinhasDuvidas.Pages.ApoioProfessor.CreateModel

@{ Layout = "~/Pages/Shared/_Layout2.cshtml";}

@if (@Model.StatusMessage != null)
{
<h3 class="alert alert-danger">@Model.StatusMessage </h3>}
<link rel="stylesheet" href="~/css/CriarCurso.css" />

<link rel="stylesheet" href="~/css/nicepage2.css" />


<section class="u-clearfix u-section-1" id="sec-bbc6">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-sheet-1">
        <!--product--><!--product_options_json--><!--{"source":""}--><!--/product_options_json--><!--product_item-->
        <div class="u-container-style u-expanded-width u-product u-shape-rectangle u-product-1">
            <div class="u-container-layout u-valign-top-md u-container-layout-1">
                <h2 class="u-text u-text-default u-text-1">Criar Cadeira</h2><!--product_image-->
                <hr />
                @if (@Model.StatusMessage != null)
                {
    <h3 class="alert alert-danger">@Model.StatusMessage </h3>}
                <img alt="" class="u-expanded-width-xs u-hidden-sm u-hidden-xs u-image u-image-default u-product-control u-image-1" src="~/css/imagens/subjects1.jpg"><!--/product_image-->
                <div class="u-form u-form-1">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group" style="margin-bottom:15px;">
                            <label asp-for="Cadeira.ID" class="control-label"></label>
                            <input asp-for="Cadeira.ID" class="u-border-1 form-control u-border-grey-30 u-input u-input-rectangle u-radius-20 u-white" required/>
                            <span asp-validation-for="Cadeira.ID" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="margin-bottom:15px;">
                            <label class="control-label">Nome</label>
                            <input asp-for="Cadeira.Name" class="u-border-1 form-control u-border-grey-30 u-input u-input-rectangle u-radius-20 u-white" required/>
                            <span asp-validation-for="Cadeira.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="margin-bottom:15px;">
                            <label class="control-label">Curso</label>
                            <select asp-for="Cadeira.CursoID" class="u-border-1 form-control u-border-grey-30 u-input u-input-rectangle u-radius-20 u-white" asp-items="ViewBag.CursoID"></select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class=" u-border-0 u-btn u-btn-round  u-button-style u-gradient  u-radius-29 btn btn-primary" />
                        </div>
                    </form>

                </div>
            </div>
        </div><!--/product_item--><!--/product-->
    </div>
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

